SEED_URL=https://seed.chocohub.org (the node u connect to mine)
WALLET_ADDRESS=0xccd6b34c59f5ac69ea34658017de5f03658c484e59 (CHANGE TO YOURS)
PLOTS_DIR=F:/chocohubSTORAGE/plots (the place where yo plots will be saved)
PLOT_SIZE_GB=3 (plot total size, will be about 50% bigger considering merkle tree)
MINING_INTERVAL=20 (self explanatory)
